p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5em;
    font-size: 5em;
}

.title {
    font-size: 6em;
    margin-top: 0.5em;
}

.work {
    color: #1abc9c;
}

.waste {
	color: #FF366B;
}

.motivateBtn {
    position: absolute;
    width: 5em;
    height: 5em;
    bottom: 4em;
    left: 4.3em;
}

.motivateMe {
    position: absolute;
    width: 100%;
    bottom: 0.5em;
    left: 0.5em;
    font-size: 1.8em;
}